@import "../../../css/Global/Vars.scss";

.allMovies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  .table-container {
    @extend %element-container;
    .title {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      color: $red;

      .text {
        @extend %h4-font;
        margin-left: 8px;
      }
    }
    width: 100%;
    table {
      margin-top: 12px;
      text-align: left;
      width: 100%;
      border-collapse: collapse;
      tr {
        margin: 8px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
    .button {
      @extend %body-font-medium;
      font-weight: bold;
      width: 20%;
      margin-top: 12px;
      padding: 12px;
      border: 1px solid #f37757;
      background: white;
      border-radius: 32px;
      color: #f37757;
      transition: 0.4s;
      float: right;
    }
    .button:hover {
      color: white;
      background-color: #f37757;
    }
  }
}

.newMovie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .element {
    margin-top: 12px;
    width: 100%;
  }

  .button {
    @extend %body-font-medium;
    width: 100%;
    font-weight: bold;
    margin-top: 12px;
    padding: 12px;
    border: 1px solid #f37757;
    background: white;
    border-radius: 32px;
    color: #f37757;
    transition: 0.4s;
    float: right;
  }
  .button:hover {
    color: white;
    background-color: #f37757;
  }
}
